html {
  scroll-behavior: smooth;
}

body {
    position: relative;
	font-family: century gothic;
}

nav {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 10vh;
}

a{
  text-decoration: none;
}
.navbar {
    margin-bottom: 0px;
}
.navbar{
	background: #27597f;
	padding: 10px;
	border-bottom: 1px solid #27597f;
}
.navbar-brand:hover{
	opacity: 0.6;
}
.navbar-brand{
	font-size: 40px;
	color: white;
}
.top{
	background-image: url(../images/books2.jpg);
	background-size: cover;
	background-position: 10% 20%;
	filter: grayscale(50%);
	text-align: right;
	position: relative;
	top: 10vh;
}
li{
	border-right: 1px white solid;
}
li:last-child{
	border-right: none;
}

#onanana{
	border-right: none; 
}

#objective {
	padding-top:55px;
	height:600px;
	color: #fff;
	background-color: #275f89;
}
.img-circle{
	filter: grayscale(30%);
	margin-top: 20px;
	margin-bottom: 10px;
	position: bottom;
	border: 3px white dashed;
	padding: 10px;
}
.obj{
	font-size: 20px;
}
.right-align{
	text-align: right;
}
#skills {
	padding-top:105px;
	height:700px;
	color: #fff;
	background-image: url(../images/wooow.png);
	filter: grayscale(70%);
	background-repeat: no-repeat;
	background-size: cover;
}
.title2 {
  width:100%;
  text-align:center;
  color:#fff;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.border {
	background-color: #555;
	padding: 20px;
	opacity: 0.7;
}
.title{
	font-size: 30px;
	color: white;
}
#skl{
	border-right: none;
	font-size: 25px;
	color: #65599e;
}
.col-lg-4{
	margin-top: 50px;
}
#experience {
	padding-top:50px;
	height:700px;
	color: #fff;
	background: #eeeeee;
	filter: grayscale (90%);
}
#hr1{
	border-color: #37474f;
}
.border1{
	background-color: #78909c;
	padding: 20px;
	opacity: 0.8;
}
.exp{
	color: #263248;
}
.exp1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}
.col1, .col2, .col3{
	background: #78909c;
	height: 400px;
	color: #424242;
}
.col1:hover, .col2:hover, .col3:hover{
	opacity: 0.8;
	transition: all 1s ease-out;

}
#education {
	padding-top:50px;
	height:900px;
	color: #fff;
	background-color: #25577c;
	filter: grayscale(20%);
}
.lvl{
	color: #f8f6f7;
}
.ed{
	color: white;
	padding-top: 5px;
}
.cool{
	color: #e9dbe2;
}
#biodata {
	padding-top:50px;
	height:800px;
	color: #fff;
	background-image: url(../images/apple.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.hello{
	color: #818a8e;
	text-shadow: 1px 1px black;
}
.left{
	color: #7e8486;
	text-shadow: 1px 1px black;
}
.biodata{
	color: white;
}
#contact {
	padding-top:20px;
	height:400px;
	color: #dcdcdc;
	background-color: #045676;
	text-align: center;
}
.cm{
	letter-spacing: 10px;
}
.fb, .ig, .cp, .gth, .yah, .gm{
	margin-right: 53px;
	margin-left: 20px;
}
#cnt{
	word-spacing: 10px;
	margin-right: 20px;
	text-decoration: none;
}
